<div class="toolbar" role="banner">
  <img width="40" alt="App Logo" src="assets/logo.png">
  <span>Gestisci organigramma</span>
  <div class="spacer"></div>
  <button mat-icon-button class="info-button" (click)="openDescriptionPopup()">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-button class="back-button" (click)="goBack()" color="white">Indietro</button>
</div>

<div class="title"><h2>{{nomeOrganigramma}}</h2></div>
<div class="container">
  <mat-card>
  <div class="tree">
    <div class="pulsantiera">
      <button mat-button class="add-root-button" (click)="openAddUnitDialog()" *ngIf="setVisible" color="white"><mat-icon>add</mat-icon></button>
      <button mat-button class="undo-button" (click)="getOldState(nomeOrganigramma)" color="black" [disabled]="undoButton"><mat-icon>undo</mat-icon></button>
      <button mat-button class="save-button" (click)="saveOrganigram(nomeOrganigramma)"><mat-icon>save</mat-icon></button>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle #treeNode>
        <div class="node-content" [matTreeNodePadding]="node.livello">
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <label class="node-name">{{ node.nome }}</label>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" width="150px">
            <button mat-menu-item (click)="openAddUnitDialog(node)">Aggiungi Unità</button>
            <button mat-menu-item (click)="deleteNode(node)">Elimina unità</button>
            <button mat-menu-item (click)="addEmployees(node)">Aggiungi dipendenti</button>
          </mat-menu>
          <button mat-icon-button class="details-button" (click)="openDetails(node)">
            <mat-icon>list_alt</mat-icon>
          </button>
        </div>
        <ng-container *matTreeNodeOutlet>
          <ng-container *ngTemplateOutlet="recursiveTree; context: { $implicit: node.listaUnita }"></ng-container>
        </ng-container>
      </mat-tree-node>
    </mat-tree>
  </div>
  </mat-card>
</div>
